* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #182c25;
    line-height: 1.6;
}

.topnav {
    background-color: #182c25;
    display: flex;
    padding: 14px 16px;
}

    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 17px;
        padding: 6px 10px;
        transition: 0.3s ease;
    }
    .topnav img {
        justify-content: flex-start;
        width:30px; 
        height: 30px;

    }

    .topnav a:hover {
        background-color: #306844;
        color: white;
        border-radius: 4px;
    }

    .topnav a.active {
        color: white;
        border-radius: 4px;
    }

    .topnav a:first-of-type {
        margin-left: auto;
    }

.gallery {
    padding: 60px;
    text-align: center;
}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/house.jpg");
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    gap: 40px;
}


.hero-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
   max-width: 400px;
    color: white;
}
    .hero-text h3{
        font-size: 42px;
        margin-bottom: 10px;
    }
    
    .hero-text p{
        font-size:18px;
    }
.logo {
    font-weight: 600;
    letter-spacing: 1px;
}


.hero-image img {
    width: 100%;
    max-width: 500px; 
    border-radius: 10px;
}


.amenities {
    padding: 60px;
    text-align: center;
}

.amenities-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.amenity {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

    .amenity img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-bottom: 10px;
    }


.testimonials {
    padding: 60px 8%;
    text-align: center;
}

.testimonial-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.testimonial {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 220px;
}

    .profile-pic img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 15px;
    }


.about-tex {
    padding: 80px 8%;
}
  


.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 8%;
    gap: 60px;
    align-items: center;
}

.contact-text,
.contact-form-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
}

.contact-text {
    max-width: 450px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #182c25;
    border-radius: 5px;
    font-family: inherit;
}

.form-row {
    display: flex;
    gap: 15px;
}

    .form-row input {
        width: 50%;
    }

.form-button {
    text-align: right;
}
.contact-form button {
    padding: 10px 25px;
    border: none;
    background: #2c4c3b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.hero-text button {
    padding: 10px 25px;
    border: none;
    background: #2c4c3b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


    .contact-form button:hover {
        opacity: 0.8;
    }


footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    background-color: #182c25;
    border-top: 1px solid #182c25;
    color: white;
}


.container {
    width: 55%;
    margin: 0 auto;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #182c25;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    user-select: none;
    transform: translateY(-50%);
}


.next {
    right: 0;
}
.prev {
    left: 0;
}

   

.numbertext {
    color: #2c4c3b;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #2c4c3b;
    padding: 2px 16px;
    color: white;
}

.row:after {
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

lable{
    display: block;
    font-weight:bold;
    margin-bottom:6px;
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #2c4c3b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    .btn:hover {
        opacity: 0.8;
    }
.map iframe {
    padding:80px 8%;
    width: 90%;
    height: 400px;
    border-radius: 10px;
}
@media (max-width: 1024px) {

    .hero {
        padding: 40px 5%;
        height: 450px;
    }
    .hero-text h3 {
        font-size: 34px;
    }

    .container {
        width: 80%;
    }
    .contact-section {
        flex-direction: column;
        gap: 40px;
    }
    .about-tex {
        padding: 60px 5%;
    }
    .amenities,
    .gallery {
        padding: 40px;
    }
    .column {
        width: 33.33%;
    }
}
@media (max-width: 768px) {

    .hero {
        height: 400px;
        padding: 30px 5%;
    }
    .hero-text {
        bottom: 20px;
        left: 20px;
        max-width: 90%;
    }
        .hero-text h3 {
            font-size: 26px;
        }
        .hero-text p {
            font-size: 15px;
        }

   
    .amenities,
    .testimonials,
    .gallery {
        padding: 30px 5%;
    }
    .amenities-grid,
    .testimonial-grid {
        flex-direction: column;
        gap: 20px;
    }
    .amenity,
    .testimonial {
        width: 100%;
    }

    
    .contact-section {
        flex-direction: column;
        padding: 40px 5%;
        gap: 30px;
    }
    .form-row {
        flex-direction: column;
    }
        .form-row input {
            width: 100%;
        }

   
    .container {
        width: 95%;
    }
    .column {
        width: 16.60%; 
    }
    .map iframe {
        width: 100%;
        height: 300px;
        padding: 5px;
    }
}